In [1]:
import pandas as pd
import numpy as np

In [12]:
file_path = "../data/movies.txt"

movies = []
years = []

with open(file_path, 'r') as file:
    for line in file:
        
        movie = (' ').join(line.split(',')[1].split(' ')[:-1])
        year = line.split(',')[1].split(' ')[-1][1:5]

        movies.append(movie)
        years.append(year)

In [14]:
df = pd.DataFrame()

df["movies"] = movies
df["year"] = years
df.head()

                        movies  year
0                    Toy Story  1995
1                      Jumanji  1995
2             Grumpier Old Men  1995
3            Waiting to Exhale  1995
4  Father of the Bride Part II  1995

In [16]:
df.to_csv("../data/movie_metadata.csv", index=False)